czifile~=2019.7.2
h5py~=3.6.0
numpy~=1.21.6
icecream~=2.1.1
scikit-image~=0.18.3
matplotlib~=3.5.1
pandas~=1.4.1
numba~=0.55.1
scipy~=1.7.3
pytest~=7.3.1
click~=8.0.3
setuptools~=59.8.0
pyqt6~=6.2.3
dask~=2022.2.0
pydash~=5.1.0
tifffile~=2022.2.9
xmltodict~=0.12.0
aicsimageio~=4.5.2
aicspylibczi~=3.0.4
lxml~=4.7.1